main{
    grid-column: 1/-1;
    grid-row: 2;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    *{
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

#gameCodeInput{
    width: 20cqw;
    height: 4cqw;
    font-size: 2cqw;
}

.joinForm{
    border-radius: 10%;
    aspect-ratio: 2.5/1;
    width: 18%;
    font-weight: 800;
    font-size: 3cqw;
    background-color: #ECD407;
    border: solid 0.5cqh white;

    &#cancelJoin{
        background-color: #d77a00;
    }
}